@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";

.top_bar {
    height: 25px;
    justify-content: end;

    .list_topbar {
        position: relative;
        right: 180px;
    }
}

.logo_img {
    width: 80px;
    height: 80px;
}

.jumbotron_img {
    height: 500px;
    width: 100%;
}

.list_header {
    position: relative;
    top: 10px;
}
